.navbar{
    background-color: black !important;
    color: #fff !important;
}
.navbar-brand img{
    width: 5rem;
    height: 5rem;
}
.menu img{
    width: 1.7rem;
    height: 1.7rem;

}
ul li a{
    color: #fff !important;
}

.auth a{
    font-size: 0.8rem !important;
}
svg{
    font-size:1.4rem;
    margin-right: 0.1rem;
}
